@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap");

* {
    box-sizing: border-box;
}

body {
     background: #191765;
}

 .title {
     color: #fff;
     font-size: 90px;
     font-family: Roboto, sans-serif;
}

 ul {
    list-style-type: none;
}

ul li {
     color: #fff;
}

h3 {
  color: #fff;
}

p {
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

 .tech {
     color: #9390FF;
     font-family: Roboto, sans-serif;
     font-size: 18px;

}

.sub-title {
      color: #9390FF;
      font-size: 64px;
      font-family: Roboto, sans-serif;
}
